* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.img_wrapper {
	margin: 0 auto;
	width: 300px;
	height: 345px;
}


/* Limit image width to avoid overflow the container */

.img_wrapper img {
	width: 100%;
	/* This rule is very important, please do not ignore this! */
}

.processing {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1200;
	display: flex;
	background: #fff;
}

.processing img {
	width: ;
}

.processing p {
	margin-top: 20px;
}

#img_for_crop_section {
	display: none;
}

#img_preview_section .img_wrapper{
transition: all 0.1s;
position:relative;
}

#img_preview_section label:before{
	content:"Change image";	
	position:absolute;
	background:rgba(0,0,0,0.4);
	bottom:0;left:0;right:0;
	color:#ff0;
	padding:5px;
	text-align:center;
}

#img_preview_section .img_wrapper:active{
	box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, 0.25);
	border:none !important;
}